<div class="main-content">
    <section>
        <img src="/assets/images/hebi-banner.jpg" alt="Tsunadida portant notre sweat">
        <div class="wrap">
            <h2 class="hero-text">Fabriqué en Suisse</h2>
            <button class="hero-btn">Boutique</button>
        </div>
    </section>
    <section class="presentation">
        <h2 class="content-title">Bienvenue sur l’Hebistore</h2>
        <p>Trouve le skin qui te correspond parmi nos présentes et futures collections. L’équipe s’applique à vous rendre encore plus beaux !</p>
        <p>Now : Collection n°001</p>
        <h3 class="content-title">Livraison</h3>
        <p>Ici nous sommes nouveaux, petits et pragmatiques. Ta commande sera enregistrée puis passée le premier lundi du mois et enfin te sera livrée sous 14 jours ouvrables.</p>
        <p>Prochaine fournée : Lundi 3 Mai</p>
        <p class="presentation--footer">N’hésitez pas à nous contacter si besoin ou envie : hebistore.contact@gmail.com <br/>Merci de ta visite, tu es fabuleux.</p>
    </section>
</div>