<nav>
    <button class="menu-burger">
        <span class="dashes">
            <span class="dash"></span>
            <span class="dash"></span>
            <span class="dash"></span>
        </span>
        <span class="burger">Menu</span>
    </button>
    <span class="title">Hebi</span>
    <span class="cart">Panier</span>
</nav>

<aside class="side-content">
    <section>
        <ul>
            <li><span>Boutique</span></li>
            <li><span>Connexion</span></li>
            <li><span>Panier</span></li>
        </ul>
    </section>
</aside>